<!DOCTYPE html>
<html>
  <head>
    <title>Submit Service Request</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link href="{% static 'customer_service/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>Submit Service Request</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
